{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La Boutique Française !
{% endblock %}

{% block content %}
	<br>
	<br>
	<br>

	<h1>
		Modifier mon mot de passe
	</h1>


	Bienvenue
	{{ app.user.firstname }}
	dans votre compte.
	<br>
	Dans cet espace vous allez pouvoir gérer toutes vos informations.

	<br><br>
	Depuis cette interface vous pouvez :
	<br>
	-
	<a href="{{ path('account') }}">
		Retourner à mon compte</a>
	<br>

	<hr>

	{% if notification %}
		<div class="alert laert-info">{{ notification }}</div>
		{% endif %}
		{{ form(form) }}
	<hr>


		{% endblock %}
